#main-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  .toggle-switch-container{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 20px;
  }
  .color-pallete-container{
    position: absolute;
    right: 0px;
    top: 20px;
  }
}