#toggle-paths {

  width: fit-content;
  height: 50px;
  .slider-path{
    background-color: #dadada;
    width: 120px;
    height: 50px;
    display: flex;
    border-radius: 40px;
    margin-bottom: 30px;
    box-shadow: -8px -8px 15px rgba(255,255,255,.7),
    10px 10px 10px rgba(0,0,0, .3),
    inset 8px 8px 15px rgba(255,255,255,.7),
    inset 10px 10px 10px rgba(0,0,0, .3);
    justify-content: space-between;
    align-items: center;
    position: relative;
    .slider{
      width: 45px;
      height: 45px;
      background: var(--toggle-off-color);
      border-radius: 50%;
      left: 5px;
      position: absolute;
      cursor: pointer;
    }
  }

}

#toggle-paths:not(:first-child){
  margin-top: 20px;
}
@keyframes off-to-on {
    from {
      left: 5px;
      background: var(--toggle-off-color);
    }
    to {
      left: calc(100% - 45px - 5px);
      background: var(--toggle-on-color);
    }
}

@keyframes on-to-off {
  from {
    left: calc(100% - 45px - 5px);
    background: var(--toggle-on-color);
  }
  to {
    left: 5px;
    background: var(--toggle-off-color);
  }
}