#color-pallete-pane {
  display: inline-flex;
  margin-right: 15px;
  justify-content: space-around;
  .color-pallete{
    display: inline-flex;
    width: 105px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    .square{
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: none;
      position: absolute;
      box-shadow: -5px 5px 24px 2px rgba(0,0,0,0.4) ;
    }
  }
  .selected-color-pallete{
    background: transparent !important;
    border-radius: 5px;
    height: 30px;
  }
}